@import "tailwindcss";

/* Leaflet & MapLibre Full Height and Width Fixes */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  z-index: 1;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-tile-pane {
  z-index: 200;
}

.leaflet-overlay-pane {
  z-index: 400;
}

.leaflet-marker-pane {
  z-index: 600;
}

.leaflet-tooltip-pane {
  z-index: 650;
}

.leaflet-popup-pane {
  z-index: 700;
}

.maplibregl-map {
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
}

.maplibregl-canvas-container {
  width: 100% !important;
  height: 100% !important;
}

.maplibregl-canvas {
  width: 100% !important;
  height: 100% !important;
}
